.header__links{
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .header__links {
        margin-top: 18px;
    }
}
@media screen and (max-width: 320px) {
    .header__links {
        margin: 0;
    }
}