.cover__subtitle{
    margin: 0;
    padding: 0;
    width: 360px;
    height: 66px;
    z-index: 2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    display: flex;
}
@media screen and (max-width: 767px) {
    .cover__subtitle {
      max-width: 288px;
      padding: 16px 0 0;
      font-size: 14px;
      line-height: 1.14;
    }
  }
  