.header__logo {
    max-width: 176px;
    height: 52px;
    padding-top: 28px;
    padding-left: 48px;
}
@media screen and (max-width: 1024px) {
    .header__logo {
        padding: 0;
    }}

@media screen and (max-width: 768px) {
    .header__logo {
        max-width: 142px;
        height: 42px;
        padding: 12px 0 0 8px;

    }
}
@media screen and (max-width: 320px) {
    .header__logo {
        padding: 0;

    }
}