.intro__text {
    font-size: 16px;
    line-height: 1.63;
    margin: 40px 0 33px;
    color: #fff;
}
@media screen and (max-width: 1280px) {
    .intro__text {
        margin: 40px 0 34px;
        max-width: 690px;
    }
}
@media screen and (max-width: 1024px) {
    .intro__text {
        margin: 40px 0 34px;
        max-width: 690px;
    }
}
@media screen and (max-width: 768px) {
    .intro__text {
        margin: 40px 0 34px;
        max-width: 720px;
    }
}
@media screen and (max-width: 320px) {
    .intro__text {
        max-width: 288px;
        max-width: 690px;
    }
}