.website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

@media screen and (max-width: 767px) {
    .website {
        max-width: calc(100% - 2 * 16px);
        margin: 0 auto;
    }
}
@media screen and (max-width: 320px) {
    .website {
        max-width: calc(100% - 2 * 16px);
        margin: 0 0 0 16px;
    }
}