.cover__overlay{
max-width: 100%;
min-height: 740px;
display: flex;
background-image: url("../../../images/cover-trains.jpg");
background-size: cover;
background-repeat: no-repeat;
flex-direction: column;
justify-content: center;
align-items: center;
box-sizing: border-box;
position: relative;
text-decoration: none;
}

.cover__overlay::before{
    content: "";
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #2a2c2f;
    opacity: 0.3;
}
.cover__overlay:hover::before {
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
  }
@media screen and (max-width: 1280px) {
    .cover__overlay {      
        min-height: 740px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}
@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
    }
}