.footer__list {
    padding: 0;
    margin: 0;
    display: flex;
    height: fit-content;
    list-style-type: none;
    -webkit-padding-start: 0;
}


@media screen and (max-width: 320px) {
    .footer__list {
        flex-direction: column;
        
    }
}